
**/settings/Mainnet.toml
**/settings/Testnet.toml
.cache/**
history.txt

logs
*.log
npm-debug.log*
coverage
*.info
costs-reports.json
node_modules

# Clarinet
artifacts/
simnet/
devnet/
testnet/

# TypeScript
dist/
build/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Misc
*.swp
*.swo
*.bak
tmp/
